@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}


body {
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

.site{
  flex-direction:row;
  background: rgba(247,248,250,1);
  background: url("../img/bg.jpg") no-repeat center bottom;
  background-size: cover;
}
.site__main{
  width: 70%;
  flex-direction:row;
}
.site__right-sidebar{
  height: 100%;
  position: fixed;
  width: 30%;
} 
.site__left-sidebar{
  flex-grow:0;
  flex-basis:auto;
  position: fixed;
  height: 100%;
  width: 170px;
  padding: 50px 20px 0 20px;
}
.site__content{
  flex-grow:1;
  flex-basis:0;
  margin-left: 170px;
}
.products{
  flex-wrap:wrap;
  flex-direction:row;
}
.product{
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
}
.product__img{
  width: 100%;
}
.product__display{
  border: 5px solid #d8d8d8;
  align-items: center;
  background: white;
}

.product__add{
  margin: 20px;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #d8d8d8;
}


.product__price{
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}

.product__description{
  flex-direction: row;
  padding-top: 15px;
}

.product__description{
}

.product__heart{
  position: absolute;
  right: 0px;
  top: 45%;
}

.product__name{
  width: 86%;
}

.cart{
  flex-grow:1;
  flex-basis:0;
  overflow: scroll;
  background: rgba(192,207,221,1);
}
.cart__title{
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to bottom, #C4CCDA 50%, rgba(192,207,221,0.1));
}
.cart__content{
  margin-top: 40px;
}
.cart-item {
  margin-bottom: 20px;
}
.cart-item__top-part{
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
}

.cart-item__image img{
  width: 100%;
}

.cart-item__image{
  width: 33.3%;
  border: 3px solid #d8d8d8;
}

.cart-item__top-part__middle{
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;

}

.cart-item__price{
  font-weight: bold;
}
.adjust-qty{
  flex-direction: row;
  width: 33.3%;
  align-items: center;
  justify-content: center;
}

.adjust-qty__button, .adjust-qty__number{
  margin: 0 10px;
}
.cart-item__qty{
  padding: 0 10px;
}
.adjust-qty__button{
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: white;
  border-radius: 50%;
  text-align: center;
}
.checkout__coupon-input,.checkout__coupon-msg{
  width: 80%;
  margin: 20px auto 0;
}

.checkout__coupon-msg{
  font-size: 18px;
  color: #dc1a00;
  font-family: "AvenirNext-DemiBold";
}

.checkout__content{
  justify-content:space-between;
  padding: 10px 40px 10px 40px;
  flex-direction:row;
}

.checkout__amounts{
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "AvenirNext-Regular";
  flex-grow: 1;
  flex-basis: auto;
}

.checkout__amount-title{
  padding: 10px;
}

.checkout__amount--strikeout{
  text-decoration: line-through;
  padding: 0 0 10px 0;
}

.checkout__amount--saving{
  color: red;
  font-weight: bold;
}

.checkout__amount-content{
  padding: 10px;
  text-align: right;
}

.checkout__divider{
  width: 50%;
  background: #9298a1;
  border: 0;
  height: 1px;
}


.checkout__btn{
  margin-top: 20px;
  flex-direction: row;
  background: #80a590;
  width: 90%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
}

.cart__divider {
  position: absolute;
  top: -40px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  background: linear-gradient(to top, #C4CCDA 50%, rgba(192,207,221,0.1));
}
.checkout {
  flex-basis: auto;
  flex-grow: 0;
  height: 350px;
  background: linear-gradient(to bottom, #c4ccda, rgba(247,248,250,0.1));
  flex-direction: column;
}
@media (max-width: 950px) {
  .site__right-sidebar{
    width: 40%;
  }
  .site__main{
    width: 60%;
  }
  .product{
    width: 100%;
  }
}

@media (max-width: 600px) {
  .site__right-sidebar {
    width: 80%;
  }
  .site__main {
    width: 100%;
  }
  .site__content {
    margin-left: 0;
  }
  .site__left-sidebar {
    display: none;  
  }
  .site__right-sidebar-toggle {
    visibility: visible;
  }
}

@media (min-width: 600px) {
  .site__right-sidebar-toggle {
    visibility: hidden;
  }
}

.site__right-sidebar-toggle {
  position: fixed;
  background-color: black;
  border-radius: 50%;
  right: 0;
  top: 0;
  z-index: 1;
}

.site__right-sidebar-toggle-img {
  transition: 0.8s ease transform;
}
.js-show-right-sidebar .site__right-sidebar {
  right: 0;
  transform: translate3d(0, 0, 0);
}

body.js-show-right-sidebar .site__right-sidebar-toggle-img {
  transform: rotate(180deg);
  transition: 0.8s ease transform;
}
